<html>
{% load static %}
{% load staticfiles %}
{% load leaflet_tags %}
    <head>
    	{% leaflet_js %}
        {% leaflet_css %}
    	<style>
     		.leaflet-container {  /* all maps */
        		width:  600px;
        		height: 600px;
    		}

    		#specialbigmap {
        		height: 800px;
    		}

   		</style>
   		<script type="text/javascript" src="{% static 'leaflet_ajax/dist/leaflet.ajax.js' %}"></script>
    </head>
    <body>
    	<script type="text/javascript">
    		function our_layers (map, options){
    			var datasets = new L.GeoJSON.AJAX("{% url 'Pixeles_Data' %}",{
    				color: 'black',
    				fillcolor: 'white',
  					opacity: 1,
  					fillOpacity: 0,
  					weight: 0.2
  				});
    			var cuenca = new L.GeoJSON.AJAX("{% url 'SubCuencas_Data' %}",{
    				color: 'green',
    				fillcolor: 'white',
  					opacity: 1,
  					fillOpacity: 0,
  					weight: 2
  				});
    			datasets.addTo(map);
    			cuenca.addTo(map);
    			
    		}
    	</script>
        {% leaflet_map "Encarnacion" callback="window.our_layers" %}
    </body>
</html>