<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load leaflet_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Pronostico de crecidas {% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}"/>
        <script src="{% static "jquery-3.4.1.js" %}"></script>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "Leaflet.TimeDimension-master/dist/leaflet.timedimension.control.min.css"  %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static "/leaflet_fullscreen/Control.FullScreen.css" %}" />
        <link rel="stylesheet" href="{% static "/css/styles.css" %}" />
        
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        
        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        {% block extra_head %}
        {% endblock %}
        
        {% leaflet_js %}
        {% leaflet_css %}
    	<style>     
	        body, html{
	          height: 100%;
	          overflow: hidden;
	          width: 100%;
	        }
          .asteriskField {
              display: none;
          }
          .form-inline label {
              margin-right: 10px;
          }

          .form-inline input {
              margin-right: 10px;
          }
          .form-inline button {
              margin-right: 10px;
          }

	        .border {
	            text-align: center;
	            padding: 10px;
	            height: 100%;
	        }

	        #map {
	          width: auto;
	          height: 100%;
	        }

	        .container .row {
	          width: 100vw;
	          position: relative;
	          left: 50%;
	          right: 50%;
	          margin-left: -50vw;
	          margin-right: -50vw;
	        }
	        
     		.leaflet-container {  /* all maps */
        		width:  100%;
        		height: 100%;
    		}

	        .leafletfull {  /* all maps */
	            width:  100%;
	            height: 100%;
	        }

    		#specialbigmap {
        		height: 800px;
    		}

	        .info {
	            padding: 6px 8px;
	            font: 14px/16px Arial, Helvetica, sans-serif;
	            background: white;
	            background: rgba(255,255,255,0.8);
	            box-shadow: 0 0 15px rgba(0,0,0,0.2);
	            border-radius: 5px;
	        }
	        .info h4 {
	            margin: 0 0 5px;
	            color: #777;
	        }
	        .legend {
	            line-height: 18px;
	            color: #555;
	        }
	        .legend i {
	            width: 18px;
	            height: 18px;
	            float: left;
	            margin-right: 8px;
	            opacity: 0.7;
	        }
   		</style>
        {% block head %}
        {% endblock %}
      <script src="{% static "/json2.js" %}"></script>
      <script src="{% static "/highcharts/highcharts.js" %}"></script>
      <script src="{% static "/leaflet_ajax/dist/leaflet.ajax.js" %}"></script>
      <script src="{% static "/choropleth.js" %}"></script>
      <script src="https://unpkg.com/georaster"></script>
      <script src="https://unpkg.com/georaster-layer-for-leaflet/georaster-layer-for-leaflet.browserify.min.js"></script>
      <script src="{% static "/leaflet_fullscreen/Control.FullScreen.js" %}"></script>
      
    </head>

    <body>
        {% block mapscript %}
        {% endblock %}

        {% include "navbar.html" %}

        <div id="map" class="container" style="padding-top: 50px;">
            {% block content %}

            {% endblock %}
        </div>
        <footer class="footer">
          <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
          </div>
        </footer>
        <!-- All that javascript -->
        <script src="{% static "moment-develop/moment.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap-collapse.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "iso8601-js-period-master/iso8601.min.js" %}"></script>
        <script src="{% static "Leaflet.TimeDimension-master/dist/leaflet.timedimension.min.js" %}"></script>
        <script>
            $(document).ready(function() {
              $('.navbar-nav > li').on('click', function(e) {
                   $('.navbar-nav > li').removeClass('active');
                   //$(this).addClass('active');
              });
              /*$( "#precipitacion" ).click(function() {
                  window.location.href = '';
              });
              /*$( "#navsarita" ).click(function() {
                  $("#block_content").load('/vercapas/saritapronostic/');
              });
              $( "#navfatima" ).click(function() {
                  $("#block_content").load('/vercapas/fatimapronostic/');
              });*/
              $( "#equipo" ).click(function() {
                  $("#block_content").load('/vercapas/equipo/');
              });
              $( "#proyecto" ).click(function() {
                  $("#block_content").load('/vercapas/proyecto/');
              });
              $( "#faq" ).click(function() {
                  $("#block_content").load('/vercapas/faq/');
              });
              var datovisualizado;
              $.ajax({
                    url: '/vercapas/ultimoregistro/', 
                    datatype: 'json',
                    success: function(data) {
                    		datovisualizado = data[0].fields.fecha;
                    	}
                    });
              setInterval(function(){  
              	$.ajax({
                    url: '/vercapas/ultimoregistro/', 
                    datatype: 'json',
                    success: function(data) {
                    		var datoinbd = data[0].fields.fecha;
                    		if (datoinbd > datovisualizado) {
                    			location.reload();
                    		}
                        /*else {
                    			alert(datovisualizado + " = " + datoinbd);
                    		}*/
                    	}
                    });
              }, 720000);
              
            });
        </script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>