{% extends 'base.html' %}

{% load staticfiles%}

{% load crispy_forms_filters static %}

{% block extra_head %}
  <!-- XDSoft DateTimePicker -->

{% endblock %}

{% block content %}
  <h2>XDSoft DateTimePicker</h2>

  <form method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Create event</button>
  </form>
{% endblock %}

