{% extends "base.html" %}
{% load staticfiles%}

{% load crispy_forms_filters static %}

{% block extra_head %}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.min.css" %}">
  <script src="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.full.min.js" %}"></script>
{% endblock %}

{% block content %}

<div class="row"> <h1> </h1>
</div>
<div class="row">
	<div class="container" align="center">
		<h3>Se muestran las predicciones desde: {{fecha_inicio}} hasta: {{fecha_cierre}}</h3>
	</div>
</div>

<div class="row">
	<div class="container" align="center">
	    <div class="col-sm-5">
	        <form class="form-inline" method="post" autocomplete="off" novalidate>
	        	<div class="form-group">
				    {% csrf_token %}
				    {{ form|crispy }}
				    <button type="submit" class="btn btn-success">Consultar</button>
				</div>
			</form>
	    </div>
    </div>
</div>

<div class="row">
  <div class="col">
	<div class="col-md-12 col-sm-12 mt-2  mb-2 " align="center">
		<div id = "fatima" style = "width: 600px;height: 480px;width:calc(80% + 90px);"></div>
	</div>
  </div>
</div> 

<script language = "JavaScript">

$(document).ready(function() {
 	
	Highcharts.chart('fatima', {
	    chart: {
	        //type: 'area',
	        zoomType: 'xy'
	    },
	    accessibility: {
	        description: ''
	    },
	    title: {
	        text: 'Comparación de datos Observados vs. Pronósticos - Bº Fátima'
	    },
	    subtitle: {
	        text: ''
	    },
	    xAxis: {
	        allowDecimals: false,
	        labels: {
	            formatter: function () {
	                return this.value; // clean, unformatted number for year
	            }
	        },
	        categories: [{% for entry in dataset2 %}'{{ entry.horas }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
	        plotLines: [{
			    color: 'green', // Color value
			    value: 4, // Value of where the line will appear
			    width: 2, // Width of the line
			    label: { 
				    text: 'Punto Fecha/Hora solicitado', // Content of the label. 
				    align: 'left', // Positioning of the label.  // Amount of pixels the label will be repositioned according to the alignment. 
				  }    
			  }],
	    },
	    yAxis: [{
	        title: {
	            text: 'mm lluvia'
	        },
	        //min: 0,
	        //max:10,
	        labels: {
	            formatter: function () {
	                return this.value + ' mm';
	            }
	        }
	    },{
	        title: {
	            text: 'Volumen de agua acumulada m<sup>3</sup>'
	        },
	        labels: {
	            formatter: function () {
	                return this.value + ' m<sup>3</sup>';
	            }
	        },
	        opposite:true
	    }],
	    tooltip: {
	    	shared: true//,
	        //pointFormat: 'En los datos {series.name} se observa <b>{point.y:,.0f} mm.</b><br/>'
	    },
	    plotOptions: {
	        area: {
	            marker: {
	                enabled: false,
	                symbol: 'circle',
	                radius: 0,
	                states: {
	                    hover: {
	                        enabled: true
	                    }
	                }
	            }
	        },
	        series: {
	            marker: {
	                enabled: false
	            }
	        }
	    },
	    series: [{
	    	name: 'Pronosticados',
	    	type: 'area',
	        data: [{% for entry in dataset2 %} {{ entry.lluviapron }} {% if not forloop.last %}, {% endif %} {% endfor %}],
	        color: '#008000',
	        tooltip: {
	            valueSuffix: ' mm'
	        	}
	    },{
	        name: 'Obsevados',
	        type: 'area',
	        data: [{% for entry in dataset2 %} {{ entry.lluviareal }} {% if not forloop.last %}, {% endif %} {% endfor %}],
	        fillOpacity:0.4,
	        tooltip: {
	            valueSuffix: ' mm'
	        	}
	    },{
	        name: 'Volumen acumulado real',
	        type: 'line',
	        data: [{% for entry in dataset2 %} {{ entry.volacumulado }} {% if not forloop.last %}, {% endif %} {% endfor %}],
	        fillOpacity:0.4,
	        yAxis:1,
	        tooltip: {
	            valueSuffix: ' m3'
	        	},
			color: '#FFA200'
	    },{
	        name: 'Volumen acumulado pronóstico',
	        type: 'line',
	        data: [{% for entry in dataset2 %} {{ entry.pronostacum }} {% if not forloop.last %}, {% endif %} {% endfor %}],
	        fillOpacity:0.4,
	        yAxis:1,
	        tooltip: {
	            valueSuffix: ' m3'
	        	},
	        color:'#B02DA8'
	    }]
	});
})

</script>

{% endblock %}