{% extends "base.html" %}

{% load staticfiles%}

{% load leaflet_tags %}

{% block mapscript %}
    	<script type="text/javascript">
        var datasets;
        var mapa;
        var info;
        var legend;
        var geotiff;

        function getColor(d) {
          return d > 3.5 ? '#D73027' :
                 d > 3.0 ? '#313695' :
                 d > 2.5 ? '#4575B4' :
                 d > 2.0 ? '#74ADD1' :
                 d > 1.5 ? '#ABD9E9' :
                 d > 0.1 ? '#E0F3F8' :
                 d <= 0.0 ? 'rgba(255,0,0,0)' :
                            '#1A1A1A';
        }
//---------------------------------------------------------------
        function style(feature) {
            return {
                fillColor: getColor(feature.properties.values.mm_h),
                weight: 0,
                opacity: 1,
                color: 'black',
                dashArray: '3',
                fillOpacity: 0.8
            };
        }

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            datasets.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            mapa.fitBounds(e.target.getBounds());
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature,

            });
        
        }
//--------------------------------------------------------------------
    		function our_layers (map, options){
          mapa = map;
          var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
              maxZoom: 20,
              subdomains:['mt0','mt1','mt2','mt3']
          }).addTo(map);
//--------Agrega las capas-----------------------------------------------
    			var cuenca = new L.GeoJSON.AJAX("{% url 'SubCuencas_Data' %}",{
            color: 'white',
            fillcolor: 'white',
            opacity: 1,
            fillOpacity: 0,
            weight: 2,/*
            onEachFeature: function(feature, layer) {
                    layer.on({
                      'add': function(){
                        layer.bringToBack()
                      }
                    })
                  }*/
          }).addTo(map);

          
          var fullscreen = L.control.fullscreen({
            position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, defaut topleft
            title: 'Fullscreen', // change the title of the button, default Full Screen
            titleCancel: 'Exit fullscreen', // change the title of the button when fullscreen is on, default Exit Full Screen
            content: null, // change the content of the button, can be HTML, default null
            forceSeparateButton: true, // force seperate button to detach from zoom buttons, default false
            forcePseudoFullscreen: true, // force use of pseudo full screen even if full screen API is available, default false
            fullscreenElement: false // Dom element to render in full screen, false by default, fallback to map._container
          }).addTo(map);

//--------Agrega los marcadores-----------------------------------          
    		  var reglapotiy = L.marker([-27.359369, -55.837254]).addTo(map);
          reglapotiy.bindPopup("<b>Bº Fátima, Encarnación!</b>");
          var puentesarita = L.marker([-27.2765448, -55.8389015]).addTo(map);
          puentesarita.bindPopup("<b>Bº Sarita, Encarnación!</b>");
          
          var puntomaximo = L.marker([-27.35940170288086,-55.83894729614258]).addTo(map);
          puntomaximo.bindPopup("<b>Bº Sarita, Punto máximo crecida!</b>");
//--------End agregar marcadores

//------Add TIF----------------------------------------------------
          var url_to_geotiff_file = "{% static 'areacuencamboicae.tif' %}";

          fetch(url_to_geotiff_file)
          .then(response => response.arrayBuffer())
          .then(arrayBuffer => {
            parseGeoraster(arrayBuffer).then(georaster => {
              console.log("georaster:", georaster);
              /*
                  GeoRasterLayer is an extension of GridLayer,
                  which means can use GridLayer options like opacity.
                  Just make sure to include the georaster option!
                  http://leafletjs.com/reference-1.2.0.html#gridlayer
              */
              var layer = new GeoRasterLayer({
                  georaster: georaster,
                  opacity: 0.25,
                  pixelValuesToColorFn: values => values[0] <= 98 ? '#0000ff' : 'rgba(255,0,0,0)',
                  resolution: 64 // optional parameter for adjusting display resolution
              });
              layer.addTo(map);

              map.fitBounds(layer.getBounds());
            });
          });
//------End Add TIF-----------------------------------------------

//------Agrega el cuadro de información de cada pixel--------------
          info = L.control({position: 'topright'});

          info.onAdd = function (map) {
              this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
              this._div.setAttribute('align', 'left');
              this.update();
              return this._div;
          };

          // method that we will use to update the control based on feature properties passed
          info.update = function (props) {
              this._div.innerHTML = '<h4>Cantidad de agua caída</h4>' +  (props ?
                  '<b>' + /*props.name +*/ '</b><br />' + props.values.mm_h + ' mm/h'//<sup>2</sup>' para indicar super índices
                  : 'Área de cobertura: 0.33 hectáreas');
          };

          info.addTo(map);
//------End Agregar cuadro-----------------------------------------
//------Agrega la leyenda -----------------------------------------
          legend = L.control({position: 'bottomright'});

          legend.onAdd = function (map) {

              var div = L.DomUtil.create('div', 'info legend'),
                  
                  grades = [0, 0.1, 1.5, 2.0, 2.5, 3.0, 3.5],
                  labels = [];

              // loop through our density intervals and generate a label with a colored square for each interval
              for (var i = 0; i < grades.length; i++) {
                  div.innerHTML +=
                      '<i style="background:' + getColor(grades[i] ) + '"></i> ' +
                      grades[i] + (grades[i ] ? /*'&ndash;'/* + grades[i + 1] +*/ '<br>' : '+');
              }
              div.setAttribute('align', 'left');
              return div;
          };
          legend.addTo(map);
//------End Agregar leyenda----------------------------------------
//------Agrega el Reproductor--------------------------------------
/*          var startDate = new Date();
          startDate.setUTCHours(0, 0, 0, 0);

          // start of TimeDimension manual instantiation
          var timeDimension = new L.TimeDimension({
                  period: "PT5M",
              });
          // helper to share the timeDimension object between all layers
          map.timeDimension = timeDimension; 
          // otherwise you have to set the 'timeDimension' option on all layers.

          var player        = new L.TimeDimension.Player({
              transitionTime: 100, 
              loop: false,
              startOver:true
          }, timeDimension);

          var timeDimensionControlOptions = {
              player:        player,
              timeDimension: timeDimension,
              position:      'bottomleft',
              autoPlay:      true,
              minSpeed:      1,
              speedStep:     0.5,
              maxSpeed:      15,
              timeSliderDragUpdate: true
          };

          var timeDimensionControl = new L.Control.TimeDimension(timeDimensionControlOptions);
          map.addControl(timeDimensionControl);
*///------End Agregar Reproductor------------------------------------          
      }
    	</script>
{% endblock %}

{% block content %}

      <div  class="row leafletfull" align="center">
          {% leaflet_map "Encarnacion" callback="window.our_layers" %}
      </div>   

{% endblock %}