<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Cuenca del Mboi Ka'e</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Elevación <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="precipitacion" class="nav-link" href="/vercapas/precipitacion/">Precipitación</a>
      </li>
      <li class="nav-item">
        <a id="navsarita" class="nav-link" href="/vercapas/saritapronostic/">Bº Sarita</a>
      </li>
      <li class="nav-item">
        <a id="navfatima" class="nav-link" href="/vercapas/fatimapronostic/">Bº Fátima</a>
      </li>
    </ul>
  </div>
</nav>