{% extends "base.html" %}
{% load staticfiles%}
{% load leaflet_tags %}
{%  block head %}

{%  endblock %}
{% block mapscript %}
    	<script type="text/javascript">
        var datasets;
        var mapa;
        var info;
        var legend;

        function getColor(d) {
          return d >= 50 ? '#7f0000' : 
                 d >= 47 ? '#b30000' : 
                 d >= 44 ? '#9e0142' :
                 d >= 41 ? '#d7301f' :
                 d >= 38 ? '#ef6548' :
                 d >= 35 ? '#fc8d59' :
                 d >= 32 ? '#feb24c' :
                 d >= 29 ? '#fed976' :
                 d >= 26 ? '#08306b' :
                 d >= 23 ? '#08519c' :
                 d >= 20 ? '#2171b5' :
                 d >= 17 ? '#4292c6' :
                 d >= 14 ? '#6baed6' :
                 d >= 11 ? '#41b6c4' :
                 d >=  8 ? '#41b6c4' :
                 d >=  5 ? '#9ecae1' :
                 d >=  2 ? '#c6dbef' :
                 d > 0.0 ? '#e5edff' :
                            'rgba(255,0,0,0)';
        }

        function getColor_cuenca(d) {

          return d > 1000000 ? '#d6604d' :
                 d > 900000 ? '#f4a582' :
                 d > 800000 ? '#fddbc7' :
                 d > 600000 ? '#2166ac' :
                 d > 400000 ? '#4393c3' :
                 d > 200000 ? '#92c5de' :
                 d <= 0.0 ? 'rgba(255,0,0,0)' :
                            '#d1e5f0';
        }
//---------------------------------------------------------------
        function style(feature) {
            return {
                fillColor: getColor(feature.properties.values.mm_h),
                weight: 1,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.8
            };
        }

        function style_cuenca(feature) {
            return {
                fillColor: getColor_cuenca(feature.properties.vol_en_cuenca),
                weight: 1,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.8
            };
        }

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }

            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            datasets.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            mapa.fitBounds(e.target.getBounds());
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature,

            });
        
        }
//--------------------------------------------------------------------
    		function our_layers (map, options){
          mapa = map
          var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
              maxZoom: 20,
              subdomains:['mt0','mt1','mt2','mt3']
          }).addTo(map);
//--------Agrega las capas-----------------------------------------------
    		var cuenca = new L.GeoJSON.AJAX("{% url 'catchment' %}",{
            /*color: 'white',
            fillcolor: 'white',
            opacity: 1,
            fillOpacity: 0,
            weight: 2,*/
            style:style_cuenca,
            onEachFeature: function(feature, layer) {
                    layer.on({
                      'add': function(){
                        layer.bringToBack()
                      }
                    })
                  }
          }).addTo(map);
          console.log(cuenca);

          datasets = new L.GeoJSON.AJAX("{% url 'Rain_on_Pixel' %}",{
            style:style,
            onEachFeature:onEachFeature
  				}).addTo(map);
          console.log(datasets);

//--------Agrega los marcadores-----------------------------------          
    		  var reglapotiy = L.marker([-27.359369, -55.837254]).addTo(map);
          reglapotiy.bindPopup("<b>Bº Fátima, Encarnación!</b>");
          var puentesarita = L.marker([-27.2765448, -55.8389015]).addTo(map);
          puentesarita.bindPopup("<b>Bº Sarita, Encarnación!</b>");
//--------End agregar marcadores

//------Agregar el Layers Control---------------------------------
          var overlayMaps = {
              "Cuenca Mboi Cae": cuenca,
              "Área de Cobertura": datasets
          };
          
          L.control.layers(null, overlayMaps,{position: 'topleft'}).addTo(map);
//------End Control Layers-----------------------------------------

//------Agrega el cuadro de información de cada pixel--------------
          info = L.control({position: 'topright'});

          info.onAdd = function (map) {
              this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
              this._div.setAttribute('align', 'left');
              this.update();
              return this._div;
          };

          // method that we will use to update the control based on feature properties passed
          info.update = function (props) {
              this._div.innerHTML = '<h4>Cantidad de agua caída</h4>' +  (props ?
                  '<b>' + /*props.name +*/ '</b><br />' + props.values.mm_h + ' mm/h'//<sup>2</sup>' para indicar super índices
                  : 'Área de cobertura: 0.33 hectáreas');
          };

          info.addTo(map);
//------End Agregar cuadro-----------------------------------------
//------Agrega la leyenda -----------------------------------------
          legend = L.control({position: 'bottomleft'});

          legend.onAdd = function (map) {

              var div = L.DomUtil.create('div', 'info legend'),
                  
                  grades = [200000, 400000, 600000, 800000, 900000, 1000000],
                  labels = [];

              // loop through our density intervals and generate a label with a colored square for each interval
              for (var i = 0; i < grades.length; i++) {
                  div.innerHTML +=
                      '<i style="background:' + getColor_cuenca(grades[i] ) + '"></i> ' +
                      grades[i] + (grades[i] ? '&ndash;' + (grades[i + 1]-1) + '<br>' : '+');
              }
              div.setAttribute('align', 'right');
              return div;
          };
          legend.addTo(map);
//------End Agregar leyenda----------------------------------------
//------Agrega la leyenda -----------------------------------------
          legend = L.control({position: 'bottomright'});

          legend.onAdd = function (map) {

              var div = L.DomUtil.create('div', 'info legend'),
                  
                  grades = [  50, 47, 44, 41, 38, 35, 32, 29, 26, 23, 20, 17, 14, 11, 2, 0],
                  labels = [];

              // loop through our density intervals and generate a label with a colored square for each interval
              for (var i = 0; i < grades.length; i++) {
                  if (i < (grades.length-1)) {
                    div.innerHTML +=
                      '<i style="background:' + getColor(grades[i] ) + '"></i> ' +
                      grades[i] + (grades[i] ? '&ndash;' + (grades[i + 1]+1) + '<br>' : '+');
                  }
              }
              div.setAttribute('align', 'right');
              return div;
          };
          legend.addTo(map);
//------End Agregar leyenda----------------------------------------
//------Agrega el Reproductor--------------------------------------
/*          var startDate = new Date();
          startDate.setUTCHours(0, 0, 0, 0);

          // start of TimeDimension manual instantiation
          var timeDimension = new L.TimeDimension({
                  period: "PT5M",
              });
          // helper to share the timeDimension object between all layers
          map.timeDimension = timeDimension; 
          // otherwise you have to set the 'timeDimension' option on all layers.

          var player        = new L.TimeDimension.Player({
              transitionTime: 100, 
              loop: false,
              startOver:true
          }, timeDimension);

          var timeDimensionControlOptions = {
              player:        player,
              timeDimension: timeDimension,
              position:      'bottomleft',
              autoPlay:      true,
              minSpeed:      1,
              speedStep:     0.5,
              maxSpeed:      15,
              timeSliderDragUpdate: true
          };

          var timeDimensionControl = new L.Control.TimeDimension(timeDimensionControlOptions);
          map.addControl(timeDimensionControl);
*///------End Agregar Reproductor------------------------------------          
      }
    	</script>
{% endblock %}

{% block content %}
    
    <div  class="row leafletfull" align="center">
      {% leaflet_map "Encarnacion" callback="window.our_layers" %}
    </div>


{% endblock %}