{% extends "base.html" %}
{% load staticfiles%}

{% load crispy_forms_filters static %}

{% block extra_head %}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.min.css" %}">
  <script src="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.full.min.js" %}"></script>
{% endblock %}

{% block content %}

<div class="row"> 
	<h1> </h1>
</div>

<div class="row">
	<div id= "fecha_pedida" class="container" align="center">
		<h3>Fecha / Hora del archivo GPM: {{fecha}}</h3>
	</div>
</div>

<div class="row">
	<div id= "mensaje" class="container" align="center">
		<h3>No se encuentran datos para la fecha solicitada.</h3>
		<h3>Por favor ingrese datos entre 31/12/2019 y hoy.</h3>
	</div>
</div>

<div class="row">
	<div id="formulario" class="container" align="center">
	    <div class="col-sm-5">
	        <form class="form-inline" method="post" autocomplete="off" novalidate>
	        	<div class="form-group">
				    {% csrf_token %}
				    {{ form|crispy }}
				    <button type="submit" class="btn btn-success">Consultar</button>
				</div>
			</form>
	    </div>
    </div>
</div>

<div class="row">
  <div class="col">
    <div class="col-md-12 col-sm-12 mt-2  mb-2 " align="center">
		<div id = "sarita" style = "width: 600px;height: 480px;width:calc(80% + 90px);"></div>
	</div>
  </div>
</div> 

<script language = "JavaScript">
	document.getElementById("fecha_pedida").style.display = "none";
	document.getElementById("mensaje").style.display = "none";
	document.getElementById("formulario").style.display = "none";
	document.getElementById("sarita").style.display = "none";
	
  	$(document).ready(function() {
  		var bandera = {{bandera}};
  		if (bandera > 0){
    		document.getElementById("fecha_pedida").style.display = "block";
			document.getElementById("mensaje").style.display = "none";
			document.getElementById("formulario").style.display = "block";
			document.getElementById("sarita").style.display = "block";
    	}
    	else{
    		document.getElementById("mensaje").style.display = "block";
    		document.getElementById("formulario").style.display = "block";
    	}
    	//$(grafsarita).collapse('show');
     	Highcharts.chart('sarita', 
     		{
			    chart: {
			        zoomType: 'xy',	
			        renderTo: 'chartcontainer'
			    		},
			    credits: {
			        enabled: false
			    	},
			    title: {
			        text: 'Variables de Observación vs. Pronósticos Cuenca Bº Sarita',
			        align: 'center'
			    		},
			    subtitle: {
			        //text: 'Source: WorldClimate.com',
			        align: 'left'
			    		},
			    xAxis: [{
			    	categories:
			    		[{% for entry in dataset1 %}'{{ entry.fecha }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
			        crosshair: true,
			        plotLines: [{
				    color: 'orange', // Color value
				    value: 4, // Value of where the line will appear
				    width: 2, // Width of the line
				    label: { 
					    text: 'Punto Fecha/Hora Archivo GPM', // Content of the label. 
					    align: 'left', // Positioning of the label.  // Amount of pixels the label will be repositioned according to the alignment. 
					  }    
					  },{
					    color: 'green', // Color value
					    value: 14, // Value of where the line will appear
					    width: 2, // Width of the line
					    label: { 
						    text: 'Punto de corrida (UTC) - Hora Actual', // Content of the label. 
						    align: 'left', // Positioning of the label.  // Amount of pixels the label will be repositioned according to the alignment. 
						  }    
					  }]
			    	}],
			    yAxis: 
			    	[
			    	{ // Primary yAxis
			        title: {
			            text: 'Volumen de Agua Acumulada',
			            style: {
			                color: Highcharts.getOptions().colors[1]
			            	}
			       		},
			       	labels: {
			            format: '{value:,.0f} m3',
			            style: {
			                color: Highcharts.getOptions().colors[1]
			            	}
			        	},
			        opposite: true,
			        //----Linea indicadora de desborde-----
			        plotLines: [{
				    	color: 'red',
				    	dashStyle: 'shortdash',
		                width: 2,
		                label: {text: 'Inicio de Desborde'},
		                value: 1900000//.80 * 415 // Need to set this probably as a var.
				    	}]
			    	},
			    	//-------------------------------------
			    	{ // Secondary yAxis
			        title: {
			            text: 'Milímetros de Lluvia',
			            style: {
			                color: Highcharts.getOptions().colors[0]
				            }
				        },
			        labels: {
			            format: '{value:,.0f} mm',
			            style: {color: Highcharts.getOptions().colors[0]}
				        },
				    gridLineWidth: 0
			    	},
			    	],
			    tooltip: {shared: true},
			    legend: {
				    layout: 'horizontal',
				    align: 'left',
				    verticalAlign: 'bottom',
				    itemMarginTop: 10,
				    itemMarginBottom: 10
					},
			    series: [
			    	{
				        name: 'Pronóstico de Lluvia',
				        type: 'column',
				        yAxis: 1,
				        data: [{% for entry in dataset1 %} {{ entry.lluvia }} {% if not forloop.last %}, {% endif %} {% endfor %}],
				        tooltip: { valueSuffix: ' mm' },
				        color: '#00A41B'
			    	},
			    	{
				        name: 'Lluvia (GPM)',
				        type: 'column',
				        yAxis: 1,
				        data: [{% for entry in dataset1 %} {{ entry.lluviareal }} {% if not forloop.last %}, {% endif %} {% endfor %}],
				        tooltip: { valueSuffix: ' mm' },
				        color: '#3EBCDE'
			    	}, 
			    	{
				        name: 'Pronóstico de Agua Acumulada',
				        type: 'spline',
				        yAxis: 0,
				        data: [{% for entry in dataset1 %} {{ entry.acumulado }} {% if not forloop.last %}, {% endif %} {% endfor %}],
				        color: '#90ed7d',
				        zones: [{
						            value: 1900000,
						            color: '#90ed7d'
						        },
						        {
						            value: 50000000,
						            color: 'red'
				        		}],
				        marker: {
					            	enabled: false
					        	},
				        dashStyle: 'solid',
				        lineWidth: 5,
				        tooltip:{valueSuffix: ' m3'}
			    	},
			    	{
			    		name: 'Volumen de Agua Acumulado (GPM)',
				        type: 'spline',
				        yAxis: 0,
				        data: [{% for entry in dataset1 %} {{ entry.acumreal }} {% if not forloop.last %}, {% endif %} {% endfor %}],
				        tooltip: { valueSuffix: ' m3' },
			        	color: '#FFA200',
			        	dashStyle: 'solid',
			        	lineWidth: 4,
			        	marker: { enabled: false }
			    	}
			    	],
			    responsive: {
			        rules: [{
			            condition: {maxWidth: 500},
			            chartOptions: 
			            	{
				                legend: 
					                {
					                    floating: false,
					                    layout: 'horizontal',
					                    align: 'center',
					                    verticalAlign: 'bottom',
					                    x: 0,
					                    y: 0
					                }
			            	}
			        		}]
			    			}
			});
    });
</script>

{% endblock %}