{% extends 'base.html' %}

{% load crispy_forms_filters static %}

{% block extra_head %}
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.min.css" %}">
  <script src="{% static "/datetimepicker-2.5.20/jquery.datetimepicker.full.min.js" %}"></script>
{% endblock %}

{% block content %}
  <h2>XDSoft DateTimePicker</h2>

  <form method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Create event</button>
  </form>
{% endblock %}
